header {
  background: #6fd8b3;
}

header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: #333;
}

.new-btn {
  padding: 10px 18px;
  outline: none;
  background: transparent;
  border: 1px solid #eee;
  font-weight: bold;
  border-radius: 3px;
  color: #333;
}
